# Store API CORS (storefront origin)
STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,http://localhost:8000,https://docs.medusajs.com

JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
AUTH_MFA_ENCRYPTION_KEY=0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef

# Base ya poblada del proyecto (Session Pooler 5432). NO pongas REDIS_URL.
DATABASE_URL=postgresql://postgres.dhwpyawdgwdogweeiqad:m02OCT4lvgYswZE1@aws-0-us-west-2.pooler.supabase.com:5432/postgres?sslmode=no-verify
