NEXT_PUBLIC_MEDUSA_BACKEND_URL=http://localhost:9000
NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY=pk_23e196bd742f5f8bf81d187320778448765843b59e00c1a6216cd1ae9e5fc0a6
NEXT_PUBLIC_DEFAULT_REGION=ec
NEXT_PUBLIC_BASE_URL=http://localhost:8000
NEXT_PUBLIC_STRIPE_KEY=
NODE_ENV=development
